# HIDING BUILD CMAKE FILES AND BINARY
/build/CMakeFiles/*
/build/Makefile
/build/*.cmake
/build/*.a
/build/CMakeCache.txt
/build/imhd-cuda
/build/write-grid
/build/*.log
/build/test.*

# HIDING DATA FILES - BUT NOT READMEs b/c folders are necessary for sim operation
/data/rho/*
/data/rhovx/*
/data/rhovy/*
/data/rhovz/*
/data/Bx/*
/data/By/*
/data/Bz/*
/data/e/*
/data/grid/*
!/data/rho/README.md
!/data/rhovx/README.md
!/data/rhovy/README.md
!/data/rhovz/README.md
!/data/Bx/README.md
!/data/By/README.md
!/data/Bz/README.md
!/data/e/README.md
!/data/grid/README.md

# HIDING THE DATA FILES IN DEBUG
/debug/nulls/data/*
!/debug/nulls/data/README.md
/debug/infs/data/*
!/debug/infs/data/README.md

/debug/data/rho/*
/debug/data/rhovx/*
/debug/data/rhovy/*
/debug/data/rhovz/*
/debug/data/Bx/*
/debug/data/By/*
/debug/data/Bz/*
/debug/data/e/*
/debug/data/grid/*
!/debug/data/rho/README.md
!/debug/data/rhovx/README.md
!/debug/data/rhovy/README.md
!/debug/data/rhovz/README.md
!/debug/data/Bx/README.md
!/debug/data/By/README.md
!/debug/data/Bz/README.md
!/debug/data/e/README.md
!/debug/data/grid/README.md

# HIDING CMAKE FILES FROM `./debug/`
/debug/build/CMakeFiles/*
/debug/build/*.cmake
/debug/build/Makefile
/debug/build/*.a
/debug/build/imhd-debug
/debug/build/CMakeCache.txt

# HIDING CMAKE FILES FROM `./tests/`
tests/output/build/CMakeCache.txt
tests/output/build/CMakeFiles/*
tests/output/build/Makefile
tests/output/build/cmake_install.cmake
tests/output/build/*.a
tests/output/build/output-test

# HIDING CMAKE FILES FROM `./benchmarking/`
/benchmarking/build/CMakeFiles/*
/benchmarking/build/*.cmake
/benchmarking/build/Makefile
/benchmarking/build/*.a
/benchmarking/build/imhd-cuda_bench
/benchmarking/build/CMakeCache.txt

# HIDING CMAKE FILES FROM `./visualization/`
/visualization/build/*
!/visualization/README.md

# HIDING CMAKE AND DATA FILES from `/examples/` 
/examples/data_output/build/CMakeFiles/*
/examples/data_output/build/*.cmake
/examples/data_output/build/Makefile
/examples/data_output/build/*.a
/examples/data_output/build/CMakeCache.txt
/examples/data_output/build/h5write_serial
/examples/data_output/build/h5write_par
/examples/data_output/data/*
!/examples/data_output/data/README.md

/examples/library_test/CMakeFiles/*
/examples/library_test/*.cmake
/examples/library_test/Makefile

/examples/oop/grid_test/CMakeFiles/*
/examples/oop/grid_test/*.cmake
/examples/oop/grid_test/Makefile
/examples/oop/grid_test/CMakeCache.txt

/examples/gds/write_cufilefunc_test/buf1.dat
/examples/gds/write_cufilefunc_test/buf2.dat
/examples/gds/write_cufilefunc_test/buf3.dat

# /test/vtk/ics_test/CMakeFiles/*
# /test/vtk/ics_test/Makefile
# /test/vtk/ics_test/ReadPLOT3D/
# /test/vtk/ics_test/CMakeCache.txt
# /test/vtk/ics_test/*.cmake
# /test/vtk/ics_test/*.a
# /test/vtk/ics_test/*.dat

# /test/vtk/ics_test/visualization/*.txt
# /test/vtk/ics_test/visualization/CMakeFiles/*
# /test/vtk/ics_test/visualization/*.cmake
# /test/vtk/ics_test/visualization/Makefile

/examples/vtk/ics_test_gds/CMakeFiles/*
/examples/vtk/ics_test_gds/Makefile
/examples/vtk/ics_test_gds/ReadPLOT3D/
/examples/vtk/ics_test_gds/CMakeCache.txt
/examples/vtk/ics_test_gds/*.cmake
/examples/vtk/ics_test_gds/*.a
/examples/vtk/ics_test_gds/*.dat

/examples/vtk/ics_test_gds/grid_vis/*.txt
/examples/vtk/ics_test_gds/grid_vis/CMakeFiles/*
/examples/vtk/ics_test_gds/grid_vis/*.cmake
/examples/vtk/ics_test_gds/grid_vis/Makefile

/examples/vtk/ics_test_gds/ics_vis/*.txt
/examples/vtk/ics_test_gds/ics_vis/CMakeFiles/*
/examples/vtk/ics_test_gds/ics_vis/*.cmake
/examples/vtk/ics_test_gds/ics_vis/Makefile

/examples/vtk/ics_test_hostbuf/CMakeFiles/*
/examples/vtk/ics_test_hostbuf/Makefile
/examples/vtk/ics_test_hostbuf/CMakeCache.txt
/examples/vtk/ics_test_hostbuf/*.cmake
/examples/vtk/ics_test_hostbuf/*.a
/examples/vtk/ics_test_hostbuf/data/*

/examples/vtk/ics_test_hostbuf/ics_vis_cpp/vertex/CMakeFiles/*
/examples/vtk/ics_test_hostbuf/ics_vis_cpp/vertex/Makefile
/examples/vtk/ics_test_hostbuf/ics_vis_cpp/vertex/CMakeCache.txt
/examples/vtk/ics_test_hostbuf/ics_vis_cpp/vertex/*.cmake
/examples/vtk/ics_test_hostbuf/ics_vis_cpp/vertex/*.a
